In [25]:
for x in range(11):
    print '{0:2d} {1:3d} {2:4d}'.format(x, x**2, x**3)

 0   0    0
 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

La sintaxis `{0:2d}` por ejemplo, dice que, de los argumentos de `format` se eliga al primero (0) y lo separe 2 espacios. El `d` es para los nÃºmeros.

In [50]:
tabla = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for nombre, telefono in tabla.items(): 
    print '{0:10} -->{1:10}'.format(nombre, telefono)

Dcab       -->      7678
Jack       -->      4098
Sjoerd     -->      4127